<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 当应用的目标平台为Android 13时，需要按如下配置. -->
    <!-- 根据应用需要访问的资源类型，声明以下的一个或多个权限. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- 因为从 Android 13 开始，权限已经被拆分了 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 因为从 Android11 开始，READ_EXTERNAL_STORAGE 已经隐含了 WRITE_EXTERNAL_STORAGE 的能力 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" /> <!--  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".base_adapter.ripple.RippleColorActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.ripple.RippleDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.anim.StaggeredGridAnimActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.anim.GridAnimActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.anim.LinearAnimActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.staggered_grid.StaggeredGridActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.grid.GridActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.add_head_foot.AddHeadFootActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.multi_layout.MultiLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.simple.SimpleActivity"
            android:exported="false" />
        <activity
            android:name=".base_adapter.BaseAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".custom_scrolltext_canger.RecyclerViewScrollActivity"
            android:exported="false" />
        <activity
            android:name=".custom_shangshan.ProtractorViewActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.flow_layout.AbstractNineGridLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.flow_layout.NewkiFlowLayout2Activity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.flow_layout.NewkiFlowLayout1Activity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.range_view.RangeViewActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.star.StarScoreViewActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.thermometer.TemperatureViewActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_newki.progress_ring.CustomJuejinNewkiActivity"
            android:exported="false" />
        <activity
            android:name=".custom_github_blankj.CustomGithubBlankjActivity"
            android:exported="false" />
        <activity
            android:name=".custom_juejin_s10g.JuejinS10gActivity"
            android:exported="false" />
        <activity
            android:name=".shortcus.ShortcutsOtherActivity"
            android:exported="false" />
        <activity
            android:name=".shortcus.ShortcutsScanActivity"
            android:exported="false" />
        <activity
            android:name=".shortcus.ShortcutsActivity"
            android:exported="false" />
        <activity
            android:name=".custom_qiujuer.DrawableTestActivity"
            android:exported="false" />
        <activity
            android:name=".custom_qiujuer.MoocBezierActivity"
            android:exported="false" />
        <activity
            android:name=".custom_qiujuer.CustomQiujuerActivity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.ViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.TwoTypeActivity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.OneTypeActivity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.MyOneTypeActivity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.self_optimize.OptimizeActivity"
            android:exported="false" />
        <activity
            android:name=".easy_recyclerview.EasyRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.communication_viewmodel.Zoo3Activity"
            android:exported="false" />
        <activity
            android:name=".fragment.communication_evnetbus.Zoo2Activity"
            android:exported="false" />
        <activity
            android:name=".fragment.function_cache.FunctionCacheActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.communication.ZooActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.DynamicLoadActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.StaticLoadActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentRouterActivity"
            android:exported="false" />
        <activity
            android:name=".storage.StorageActivity"
            android:exported="false" />
        <activity
            android:name=".touch_event.two_simple_scrollview_optimize_1_2.TwoSimpleScrollviewOptimize_1_2Activity"
            android:exported="false" />
        <activity
            android:name=".touch_event.two_simple_scrollview_optimize_1_1.TwoSimpleScrollviewOptimize_1_1Activity"
            android:exported="false" />
        <activity
            android:name=".touch_event.two_scrollview.TwoScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".touch_event.two_simple_scrollview.TwoSimpleScrollviewActivity"
            android:exported="false" />
        <activity
            android:name=".touch_event.TouchEventActivity"
            android:exported="false" />
        <activity
            android:name=".picture_selection.PictureSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".UiOperateEntranceActivity"
            android:exported="false" />
        <activity
            android:name=".storage.image_selector.PhotoActivity"
            android:exported="false" />

        <receiver
            android:name=".shortcus.ShortcutReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.PIN_SHORTCUT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>