<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utilsuser">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UtilsGather"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".httpurlconnect.HttpActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.CreateBitmapViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.CustomDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.TelescopeViewZoomInActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.ShapeShaderActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.RectShapeActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.ten.GradientDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.nine.SaveLayerUseExampleActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.IrregularWaveViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.TextWave_DSTINActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.EraserViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.InvertedImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.TwitterViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.LightBookViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.eight.PorterDuffXfermodeViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.HeadPortraitActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.TelescopeViewActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.BlurActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.ShaowActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.BillowWaveActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.seven.BezierActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.five.VectorShowActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.five.PathMeasureActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.four.AnimateLayoutChangesActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.four.KeyFrameActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.four.PropertyValuesActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.three.PathAnimatorActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.three.AnimatorSetActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.three.ValueAnimatorActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.two.ViewAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextExitHandleActivity"
            android:exported="false" /> <!-- android:theme="@style/Theme.Mine.Fullscreen" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        <activity
            android:name=".TestImmersionActivity"
            android:exported="false" />
        <activity
            android:name=".StyleImmersionActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp.Immersive" /> <!-- android:theme="@style/Theme.MyApp.Immersive2" -->
        <activity
            android:name=".StyleImmersion2Activity"
            android:exported="false" />
        <activity
            android:name=".kt_room.KtRoomActivity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.CustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.CustomView2Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.CustomView3Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.CustomView1_4Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.one_five.CustomView1_5Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.one_six.CustomView1_6Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.one_seven.CustomView1_7Activity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.flow.FlowLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".cutomerview.flow_optimize.OptimizedFlowLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".qihang.one.RectPointView.UseRectPointViewActivity"
            android:exported="false" />
    </application>

</manifest>